.sim-feed-header,
.sim-switch-back-button,
.sim-tweet-container,
.sim-tweet-author-name,
.sim-tweet-author-handle,
.sim-tweet-text {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.sim-feed-header {
    text-align: center;
    padding: 10px 0px 15px 0px;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sim-switch-back-button {
    display: block;
    margin: 15px auto 20px auto;
    padding: 10px 20px;
    background-color: rgb(29, 155, 240); 
    color: white;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.sim-switch-back-button:hover {
    background-color: rgb(26, 140, 218); 
}

.sim-tweet-container {
    padding: 12px 16px;
    position: relative;
    border-width: 0px; 
}

.sim-tweet-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
    float: left;
    background-color: #e1e8ed;
}

.sim-tweet-content {
    overflow: hidden;
}

.sim-tweet-author-info {
    margin-bottom: 2px;
    display: flex;
    align-items: baseline;
    font-size: 15px;
}

.sim-tweet-author-name {
    font-weight: bold;
    margin-right: 4px;
    text-decoration: none;
}
.sim-tweet-author-name:hover {
    text-decoration: underline;
}

.sim-tweet-author-handle {
    color: rgb(29, 155, 240); 
    text-decoration: none;
}

.sim-tweet-text {
    font-size: 15px;
    line-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
}

.custom-media-container {
    margin-top: 10px;
    border-radius: 16px;
    overflow: hidden;
}

.custom-media-container img,
.custom-media-container video {
    display: block;
    max-width: 100%;
    border-radius: 16px; 
}

.sim-tweet-clear {
    clear: both;
}

/* --- Light Theme Specific Styles --- */
/* body { 

} */

.sim-feed-header {
    color: rgb(29, 155, 240);
    border-bottom: 1px solid rgb(235, 238, 240); 
}

.sim-tweet-container {
    background-color: #ffffff; 
    border-bottom: 1px solid rgb(235, 238, 240); 
}

.sim-tweet-author-name {
    color: black; 
}

.sim-tweet-text {
    color: black; 
}

/* --- Dark Theme Specific Styles --- */
@media (prefers-color-scheme: dark) {
    .sim-feed-header {
        border-bottom-color: rgb(56, 68, 77); 
    }

    .sim-tweet-container {
        background-color: #000000; 
        border-bottom-color: rgb(56, 68, 77); 
    }


    .sim-tweet-author-name {
        color: rgb(217, 217, 217);
                                    
    }

    .sim-tweet-text {
        color: rgb(217, 217, 217);
                                    
    }
}